<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Create Review</title>
</head>
<body>

<header th:replace="partials/styles :: styles"></header>
<nav th:replace="partials/navbar :: navbar"/>

    <h1>Leave a review</h1>
<!--    suggestion to add listing title for review-->
<!--    <h2 class="listing-title" th:text="${listing.title}"></h2>-->
<!--    <h4 class="card-text" th:text="${listing.location}"></h4>-->


    <form class="form-section" action="/review/create" th:action="@{/reviews/{id}/create (id=${listing_id})}" method="POST" th:object="${review}">
        <label for="title">Title</label>
        <input id="title" name="title" type="text" class="validate" th:value="*{title}" th:field="*{title}">
        <label for="body">Body</label>
        <textarea id="body" name="body" class="materialize-textarea" th:value="*{body}" th:field="*{body}"></textarea>
        <label for="rating">Rating</label>
        <input id="rating" name="rating" type="number" class="validate" th:value="*{rating}" th:field="*{rating}">


        <button type="submit" value="submit" class="waves-effect waves-purple btn-small indigo accent-3">Submit</button>
    </form>
<script th:replace="partials/scripts :: scripts"></script>
</body>
</html>    