<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Create Review</title>
</head>
<body>

<header th:replace="partials/styles :: styles"></header>
<nav th:replace="partials/navbar :: navbar"/>

    <h1>Leave a review</h1>
    <form action="/review/create" th:action="@{/reviews/{id}/create (id=${listing_id})}" method="POST" th:object="${review}">
        <input id="title" name="title" type="text" class="validate" th:value="*{title}" th:field="*{title}">
        <label for="title">Title</label>
        <textarea id="body" name="body" class="materialize-textarea" th:value="*{body}" th:field="*{body}"></textarea>
        <label for="body">Body</label>
        <input id="rating" name="rating" type="number" class="validate" th:value="*{rating}" th:field="*{rating}">
        <label for="rating">Rating</label>

        <button type="submit" value="submit" class="waves-effect waves-purple btn-small indigo accent-3">Submit</button>
    </form>
</body>
</html>    