<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reviews</title>
</head>
<header th:replace="partials/styles :: styles"></header>
<nav th:replace="partials/navbar :: navbar"/>
<body>
<h1>Leave a Review!</h1>
<main class="container">
    Title:
<!--    <h3 th:text="${reviews.title}"/>-->
<!--    Review:-->
<!--    <p th:text="${reviews.body}" />-->




    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault">Default switch checkbox input</label>
    </div>
    User:
<!--    <p th:text="${reviews.user.email}" />-->
<!--    <br/>-->
<!--    <form th:action="@{/reviews/{id}/delete(id = ${reviews.id})}" method="post">-->
<!--        <button>Delete Review</button>-->
<!--    </form>-->
<!--    <a th:href="@{/reviews/{id}/edit(id = ${reviews.id})}">Edit Review</a>-->
</main>

</body>
</html>