<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1>Book this listing form/process page</h1>
<h3 th:text="${package.price}"></h3>
<h3 th:text="${package.description}"></h3>
<h3 th:text="${package.guided}"></h3>
<h3 th:text="${package.lodging}"></h3>
<h3 th:text="${package.duration}"></h3>
<form th:action="@{/listing/package/{id}/book (id=${id})}" method="post" th:object="${booking}">

    <label for="date_start">Start date</label>
    <input id="date_start" name="date_start" type="date" th:field="*{date_start}">

    <label for="date_end">End date</label>
    <input id="date_end" name="date_end" type="date" th:field="*{date_end}">

    <button type="submit">Book Package!</button>
</form>
</body>
</html>