<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Package Form</title>
</head>
<body>
<header th:replace="partials/styles :: styles"></header>
<nav th:replace="partials/navbar :: navbar"/>

<img class="logo" alt="outfitter expert logo" src="../../static/img/oeLogo.png" th:src="@{/img/oeLogo.png}" />

<form class="form-section" th:action="@{/listings/{id}/package/create (id=${listing_id})}" method="POST" th:object="${listPackage}">
        <label for="price">Price</label>
        <input id="price" th:field="*{price}" />

        <label for="duration">Duration</label>
        <input id="duration" th:field="*{duration}" />

        <label for="description">Description</label>
        <textarea id="description" th:field="*{description}" placeholder="Activities provided"></textarea>

        <div class="form-checkmark form-switch">
            <input class="form-check-input" name="guided" type="checkbox" id="listing-guided" th:value="*{guided}" th:field="*{guided}">
            <label class="form-check-label" for="listing-guided">
                Guided
            </label>
        </div>
        <div class="form-checkmark">
            <input class="form-check-input" name="lodging" type="checkbox" id="listing-lodging" th:value="*{lodging}" th:field="*{lodging}">
            <label class="form-check-label" for="listing-lodging">
                Lodging
            </label>
        </div>
    <div class="date">
        <label>Expiration date</label>
        <input type="date" name="date_exp">
        <input class="custom-button" type="submit" value="Create">
    </div>
    </form>

</body>
</html>