<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Create listing</title>
</head>
<body>

<header th:replace="partials/styles :: styles"></header>
<nav th:replace="partials/navbar :: navbar"></nav>
<img class="logo" alt="outfitter expert logo" src="../../static/img/oeLogo.png" th:src="@{/img/oeLogo.png}" />
<div class="card-body">
<form class="form-section" th:action="@{/listings/create}" method="POST" th:object="${listing}">

        <label for="fileupload">Select a file to upload</label>
        <input th:field="*{imgUrl}" value="" type="hidden" id="fileupload">
        <button id="picker" type="button">Pick file</button>


        <label for="listing-title">Title:</label>
        <input id="listing-title" type="text" th:field="*{title}" />
        <br/>
        <label for="listing-location">Location:</label>
        <input id="listing-location" type="text" th:field="*{location}" />
        <br/>
        <label for="listing-acreage">Size(acres):</label>
        <input id="listing-acreage" type="text" th:field="*{acres}" />
        <br/>
        <label for="listing-slots">Slots:</label>
        <input id="listing-slots" type="text" th:field="*{slots}" />
        <br/>
        <label for="listing-animals">Animals:</label>
        <input id="listing-animals" name="user-animal-list" type="text" />
        <br/>
        <div class="form-check form-switch">
            <input class="form-check-input" name="guided" type="checkbox" id="listing-guided" th:field="*{guided}">
            <label class="form-check-label" for="listing-guided">
                Guided
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" name="lodging" type="checkbox" id="listing-lodging" th:field="*{lodging}">
            <label class="form-check-label" for="listing-lodging">
                Lodging
            </label>
        </div>
        <br/>
        <select class="form-select" aria-label="Default select example" name="method" th:field="*{method}" >
            <option value="blinds">Blinds</option>
            <option value="bow">Bow</option>
            <option value="decoy">Decoy</option>
            <option value="rifle" selected>Rifle</option>
            <option value="tracking">Tracking</option>
            <option value="trapping">Trapping</option>
        </select>
        <br/>
        <input class="custom-button" type="submit" id="submitForm" value="Create" />
    </form>
</div>
<script th:replace="partials/scripts :: scripts"></script>
</body>
</html>