<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Create listing</title>
</head>
<body>

<header th:replace="partials/styles :: styles"></header>
<nav th:replace="partials/navbar :: navbar"></nav>
<div class="container">
    <div class="row">
        <div class="col-lg-12 card-body">
<img class="signup-logo" alt="outfitter expert logo" src="../../static/img/oeLogo2.jpg" th:src="@{/img/oeLogo2.jpg}" />
<div class="card-body">
<form class="form-section" th:action="@{/listings/create}" method="POST" th:object="${listing}">
        <input type="hidden" th:value="${FILE_STACK_ACCESS_TOKEN}" class="fileToken"/>

        <label for="listing-title">Title:</label>
        <input id="listing-title" th:value="*{title}" type="text" th:field="*{title}" />
        <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
        <br/>
<!--    Image upload    -->
        <label for="fileupload">Upload Image </label>
        <input style="margin-left: 5px;" th:field="*{imgUrl}" value="" type="hidden" id="fileupload">
        <button id="picker" class="custom-button" style="padding: 5px 10px" type="button">Browse</button>
        <br/>
        <label style="font-weight: bold" id="nameBox"></label>
        <br>
<!--    End of Image upload    -->
        <label for="listing-location">Location:</label><p th:if="${#fields.hasErrors('location')}" th:errors="*{location}"></p>
        <input id="listing-location" th:value="*{location}" type="text" th:field="*{location}" />
        <br/>
        <label for="listing-acreage">Size(acres):</label><p th:if="${#fields.hasErrors('acres')}" th:errors="*{acres}"></p>
        <input id="listing-acreage" value="" type="text" th:field="*{acres}" />
        <br/>
        <label for="listing-slots">Slots:</label><p th:if="${#fields.hasErrors('slots')}" th:errors="*{slots}"></p>
        <input id="listing-slots" th:value="*{slots}" type="text" th:field="*{slots}" />
        <br/>
        <label for="listing-animals">Animals:</label><p th:if="${#fields.hasErrors('animals')}" th:errors="*{animals}"></p>
        <input id="listing-animals" th:value="*{animals}" name="user-animal-list" type="text" placeholder="Ex: White-tailed Deer, Bighorn Sheep, Fox" />
        <br/>
        <div class="form-switch">
            <div class="custom-control custom-switch">
                <input class="custom-control-input" th:value="*{guided}" name="guided" type="checkbox" id="listing-guided" th:field="*{guided}">
                <label class="custom-control-label" for="listing-guided">Guided</label>
            </div>
        </div>
        <div class="custom-control custom-switch">
            <div>
                <input class="custom-control-input" th:value="*{lodging}" name="lodging" type="checkbox" id="listing-lodging" th:field="*{lodging}">
                <label class="custom-control-label" for="listing-lodging">
                    Lodging
                </label>
            </div>
        </div>
        <br/>
    <label for="listing-method">Method of hunting</label><p th:if="${#fields.hasErrors('method')}" th:errors="*{method}"></p>
        <select id="listing-method" class="form-select" aria-label="Default select example" value="" name="method" th:field="*{method}" >
            <option value="baiting">Baiting</option>
            <option value="blinds">Blinds</option>
            <option value="bow">Bow</option>
            <option value="calling">Calling</option>
            <option value="decoy">Decoy</option>
            <option value="High-seat">High-seat</option>
            <option value="rifle" selected >Rifle</option>
            <option value="tracking">Tracking</option>
            <option value="trapping">Trapping</option>
            <option value="shotgun">Shotgun</option>
            <option value="stalking">Stalking</option>
        </select>

        <input type="hidden" id="type" class="form-section" name="post-type" value="true">
        <br/>
        <input class="custom-button" type="submit" id="submitForm" value="Create" />
    </form>
</div>
        </div>
    </div>
</div>
<script th:replace="partials/scripts :: scripts"></script>
<script th:src="@{/js/filestack-script.js}"></script>
</body>
</html>