<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Package Form</title>
</head>
<body>
<header th:replace="partials/styles :: styles"></header>
<nav th:replace="partials/navbar :: navbar"/>
<form>
    <form th:action="@{/listings/package/create}" method="POST" th:object="${package}">
        <label for="price">Price</label>
        <input id="price" th:field="*{price}" />

        <label for="duration">Duration</label>
        <input id="duration" th:field="*{duration}" />

        <label for="description">Description</label>
        <textarea id="description" th:field="*{description}" placeholder="Activities provided"></textarea>
        <div class="btn-group">
            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Small button
            </button>
            <div class="dropdown-menu">0

                <div class="form-check form-switch">
                    <input class="form-check-input" name="guided" type="checkbox" id="listing-guided" th:value="*{guided}" th:field="*{guided}">
                    <label class="form-check-label" for="listing-guided">
                        Guided
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" name="lodging" type="checkbox" id="listing-lodging" th:value="*{lodging}" th:field="*{lodging}">
                    <label class="form-check-label" for="listing-lodging">
                        Lodging
                    </label>
                </div>
</form>
</body>
</html>