<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Create Package</title>
</head>
<body>
<header th:replace="partials/styles :: styles"></header>
<nav th:replace="partials/navbar :: navbar"/>

<img class="signup-logo" alt="outfitter expert logo" src="../../static/img/oeLogo2.jpg" th:src="@{/img/oeLogo2.jpg}" />
<div class="container">
    <div class="row">
        <div class="col-lg-12 card-body">
<form class="form-section" th:action="@{/listings/{id}/package/create (id=${listing_id})}" method="POST" th:object="${listPackage}">
        <label for="price">Price</label>
        <input id="price" th:field="*{price}" />

        <label for="duration">Duration</label>
        <input id="duration" th:field="*{duration}" />

        <label for="description">Description</label>
        <textarea id="description" th:field="*{description}" placeholder="Activities provided"></textarea>

    <div class="form-switch">
        <div class="custom-control custom-switch">
            <input class="custom-control-input" th:value="*{guided}" name="guided" type="checkbox" id="listing-guided" th:field="*{guided}">
            <label class="custom-control-label" for="listing-guided">Guided</label>
        </div>
    </div>
    <div class="custom-control custom-switch">
        <div>
            <input class="custom-control-input" th:value="*{lodging}" name="lodging" type="checkbox" id="listing-lodging" th:field="*{lodging}">
            <label class="custom-control-label" for="listing-lodging">
                Lodging
            </label>
        </div>
    </div>
    <div class="date">
        <label>Expiration date</label>
        <input type="date" name="date_exp">
        <input class="custom-button" type="submit" value="Create">
    </div>
    </form>
            </div>
    </div>

</div>
<script th:replace="partials/scripts :: scripts"></script>
</body>
</html>