<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Edit listing</title>
</head>
<body>
<header th:replace="partials/styles :: styles"></header>
<nav th:replace="partials/navbar :: navbar"></nav>

<img class="logo" alt="outfitter expert logo" src="../../static/img/oeLogo.png" th:src="@{/img/oeLogo.png}" />
<div class="card-body">

    <form class="form-section" th:action="@{/listings/{id}/edit (id=${id})}" method="POST" th:object="${listing}">
        <input type="hidden" th:value="${FILE_STACK_ACCESS_TOKEN}" class="fileToken"/>
        <label for="fileupload">Upload file </label>
        <input style="margin-left: 5px;" th:field="*{imgUrl}" value="" type="hidden" id="fileupload">
        <button id="picker" class="custom-button" type="button">Pick file</button>
        <br/>
        <label style="font-weight: bold" id="nameBox"></label>
        <br>
        <label for="listing-title">Title:</label>
        <input id="listing-title" th:value="*{title}" type="text" th:field="*{title}" />
        <br/>
        <label for="listing-location">Location:</label>
        <input id="listing-location" th:value="*{location}" type="text" th:field="*{location}" />
        <br/>
        <label class="hidden" for="listing-acreage">Size(acres):</label>
        <input class="hidden" id="listing-acreage" value="0" type="text" th:field="*{acres}" />

        <label class="hidden" for="listing-slots">Slots:</label>
        <input class="hidden" id="listing-slots" value="0" type="text" th:field="*{slots}" />

        <label for="listing-animals">Fish:</label>
        <input id="listing-animals" th:value="${animal_list}" name="user-animal-list" type="text" placeholder="Ex: White-tailed Deer, Bighorn Sheep, Fox" />
        <br/>
        <div class="form-check form-switch">
            <input class="form-check-input" th:value="*{guided}" name="guided" type="checkbox" id="listing-guided" th:field="*{guided}">
            <label class="form-check-label" for="listing-guided">
                Guided
            </label>
        </div>
        <div class="form-check hidden" >
            <input class="form-check-input" th:value="*{lodging}" name="lodging" type="checkbox" id="listing-lodging" th:field="*{lodging}">
            <label class="form-check-label" for="listing-lodging">
                Lodging
            </label>
        </div>
        <br/>
        <select class="form-select" aria-label="Default select example" value="" name="method" th:field="*{method}" >
            <option value="saltwater">Saltwater Fishing</option>
            <option value="freshwater">Freshwater Fishing</option>
            <option value="fly-fishing">Fly Fishing</option>
            <option value="deep-sea-fishing" selected>Deep Sea Fishing</option>
            <option value="other">Other</option>
        </select>

        <input type="hidden" id="type" class="form-section" name="post-type" value="false">
        <br/>
        <input class="custom-button" type="submit" id="submitForm" value="Create" />
    </form>
</div>
<script th:replace="partials/scripts :: scripts"></script>
<script th:src="@{/js/filestack-script.js}"></script>
</body>
</html>