<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>View listings</title>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css' rel='stylesheet' />
</head>
<body>
<header th:replace="partials/styles :: styles"></header>
<nav th:replace="partials/navbar :: navbar"/>

<!--<div class="container">-->
<div class="whole row" style="margin-left: 5px">
<div class="listings-group col-lg-4 col-md-12 col-sm-12">
    <div class="listing-pg" th:each="listing : ${listings}">

        <form th:action="@{/listings/{id}(id = ${listing.id})}" method="GET" >
        <button type="submit" class="benjamin-button">
           <div id="listing-page">
<!--            <img class="buck" src="../../static/img/buck-img.jpg" th:src="@{img/buck-img.jpg}"/>-->
               <img th:src="${listing.imgUrl}" class="img-listing"/>
               <h3 class="first-txt listing-location" th:text="${listing.location}"/>
               <h3 class="second-txt listing-title" th:text="${listing.title}"/>
               <p class="hidden-info listing-id" th:text="${listing.id}"></p>
           </div>
        </button>
        </form>

        <input type="hidden" class="listings-info" th:value="${listing.location}"/>

        <hr style="height:1px;border:none;color:#333;background-color:#333; margin-left:5px" />
    </div>
</div>

    <div class="map col-lg-8 col-md-0 col-sm-0">
        <div class="navstyle">
        <div id='map' style='width: 68vw; height: 100vh;'></div>
            <input type="hidden" th:value="${MAPBOX_ACCESS_TOKEN}" class="mapToken">
            <div class="listing-pg" th:each="listing : ${listings}">
<!--            <div class="first-txt listing-location" th:text="${listing.location}"></div>-->
<!--            <div class="second-txt listing-title" th:text="${listing.title}"></div>-->
<!--            <p class="hidden-info listing-id" th:text="${listing.id}"></p>-->
            </div>
        </div>
    </div>
    <script th:replace="partials/scripts :: scripts"/>
</div>
</body>
</html>