<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>View listings</title>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css' rel='stylesheet' />
</head>
<body>
<header th:replace="partials/styles :: styles"></header>

<!--<div class="navstyle">-->
<nav th:replace="partials/navbar :: navbar"/>
<!--</div>-->
<!--Map please work!-->
<div class="container">
<div class="whole row">
<div class="listings-group col-lg-7 col-md-12 col-sm-12">
    <div class="listing-pg" th:each="listing : ${listings}">

        <form th:action="@{/listings/{id}(id = ${listing.id})}" method="GET" >
        <button type="submit" class="benjamin-button">
           <div id="listing-page">
<!--            <img class="buck" src="../../static/img/buck-img.jpg" th:src="@{img/buck-img.jpg}"/>-->
               <img class="buck" src="../../static/img/buck-img.jpg" th:src="${listing.imgUrl}"/>
               <h3 class="first-txt listing-location" th:text="${listing.location}"/>
               <h3 class="second-txt listing-title" th:text="${listing.title}"/>
               <p class="hidden-info listing-id" th:text="${listing.id}"></p>
           </div>
        </button>
        </form>

        <input type="hidden" class="listings-info" th:value="${listing.location}"/>

        <hr style="height:1px;border:none;color:#333;background-color:#333;" />
    </div>
</div>
    <div class="map col-lg-5 col-md-0 col-sm-0">
        <div class="navstyle">
        <div id='map' style='width: 50vw; height: 92vh; margin: 60px;'></div>
            <div class="listing-pg" th:each="listing : ${listings}">
            <div class="first-txt listing-location" th:text="${listing.location}"></div>
            <div class="second-txt listing-title" th:text="${listing.title}"></div>
            <p class="hidden-info listing-id" th:text="${listing.id}"></p>
            </div>
        </div>
    </div>
    <script th:replace="partials/scripts :: scripts"/>
</div>
</div>
</body>
</html>