<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Write a Review</title>
</head>
<body>
<header th:replace="partials/styles :: styles"></header>
<nav th:replace="partials/navbar :: navbar"/>
<form th:action="@{/reviews/create}" method="POST" th:object="${review}">

    <label class="form-label" for="rating">Rating</label>
    <input class="form-range" type="range" min="1" max="5" name="review[rating]" id="rating">


    <label for="title">Title</label>
    <input id="title" name="title" type="text" class="validate" th:field="*{title}" />

    <label for="description">Description</label>
    <textarea id="description" name="description" class="materialize-textarea" th:field="*{description}" placeholder="Write review here"></textarea>
</form>

</body>
</html>