<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View single Listing</title>
</head>
<body>
<header th:replace="partials/styles :: styles"></header>
<nav th:replace="partials/navbar :: navbar"/>
<h1>Viewing a single listing page</h1>
<div class="container">
<div class="card-body">
    <div style="width: 75%; height: 75%; ">
        <img class="logo" src="../../static/img/buck-img.jpg" alt="pretty buck" th:src="@{/img/buck-img.jpg}" /><span class="img-text ui-corner-top" th:text="${listing.location}"></span><span class="bottom-img img-text" th:text="${listing.title}"></span>
    </div>
    <div class="card-footer text-muted">
        <div class="row">
            <div class="card-text col-4">Lodging:
                <p class="card-text" th:text="${listing.lodging}"></p>
            </div>
            <div class="card-text col-4">Guided:
                <p class="card-text" th:text="${listing.guided}"></p>
            </div>
            <div class="card-text col-4">Method:
                <p class="card-text" th:text="${listing.method}"></p>
            </div>

            <form method="GET" action="/reviews/{id}/create/">
                <button th:value="${listing.id}">Leave a review</button>
            </form>

            <div class="listing-pg" th:each="review : ${reviews}">
            </div>

        </div>
    </div>
    </div>
<!--<div th:if="${isPostOwner}">-->
<!--    <form th:action="@{/posts/{id}/delete(id = ${post.id})}" method="post">-->
<!--        <button class="waves-effect waves-purple btn-small indigo accent-3">Delete Post</button>-->
<!--    </form>-->
<!--    <a th:href="@{/posts/{id}/edit(id = ${post.id})}"-->
<!--       class="waves-effect waves-purple btn-small indigo accent-3">Edit Post</a>-->
</div>
<br/>
<h1>Viewing listing's reviews</h1>
</body>
</html>