<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8"/>
    <title>Outfitter Expert</title>
    <style>
        @media screen and (max-width: 1280px){
        i{
            display: none;
            }
            .search-container{
                display: flex;
                justify-content: center;
            }
        }
    </style>
</head>
<body>
<script src="https://kit.fontawesome.com/968ac4e7b1.js" crossorigin="anonymous"></script>
<nav th:fragment="navbar" class="navbar sticky-top navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="/">
    <img src="../static/img/OE_transparent.jpg" th:src="@{/img/OE_transparent.jpg}" class="nav-logo" alt="OE Logo"/>
    </a>
<!-- NOT SURE WHAT THIS BUTTON DOES-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!--==========SEARCHBAR============-->
        <div class=" d-flex row-1 my-2 search-container">
            <form th:action="@{/search}" method="post" class="form-row align-items-center" id="special" style="flex-wrap: nowrap">
                <input class="form-control col-5" name="location" type="text" placeholder="Location" aria-label="Search">
                <input class="form-control col-5" name="animals" type="text" placeholder="Animal" aria-label="Search">
                <button class=" m-1 btn btn-outline-success" type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>
        <!--================================SOCIAL MEDIA ICONS==================================-->
        <form class="d-flex row my-2">
            <a class="navbar-icon" href="https://www.facebook.com/OutfitterExpert-101138728768176/"><i class="fab fa-facebook-square"></i></a>
            <a class="navbar-icon" href="https://www.instagram.com/_outfitterexpert_/?igshid=7ltyhidmj6hd"><i class="fab fa-instagram"></i></a>
            <a class="navbar-icon" href="https://www.linkedin.com/company/outfitter-expert"><i class="fab fa-linkedin"></i></a>
        </form>
        <!--  NAVBAR LOGIN AND LOGOUT TO DISPLAY, NOT IN HAMBURGER MENU-->
        <div class="display-nav-buttons">
            <ul class="display-nav-list">
                <li sec:authorize="!isAuthenticated()" class="display-nav-item">
                    <a class="display-nav-link" th:href="@{/login}">Login</a>
                </li>
                <li sec:authorize="!isAuthenticated()" class="display-nav-item">
                    <a class="display-nav-link" href="/sign-up">Sign up</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="display-nav-item">
                    <form th:action="@{/logout}" th:method="post">
                        <button class="btn1" style="margin-top: 5px">Logout</button>
                    </form>
                </li>
            </ul>
        </div>
        <!--================================PROFILE BUTTON==================================-->
                <nav class="nav">
                    <!-- NAVBAR DROPDOWN MENU BOX BUTTON-->
                    <input type="checkbox" id="menu-button"  class="menu-button__input" />
                    <label for="menu-button" class="menu-button">
                        <span class="menu-button__icon">
                          <span class="menu-button__icon-strip"></span>
                        </span>
                    </label>
                    <!--=====NAVBAR DROPDOWN MENU LINKS=======-->
                    <div class="nav__inner">
                        <br>
                            <ul class="nav-list">
<!--                                <li sec:authorize="isAuthenticated()" class="nav-list__item">-->
<!--                                    <form th:action="@{/profile/{id}(id=${#authentication.principal.id})}" th:method="get">-->
<!--                                        <button class="btn nav-list__url">Profile</button>-->
<!--                                    </form>-->
<!--                                </li>-->
<!--                                <li sec:authorize="isAuthenticated()" class="nav-list__item">-->
<!--                                    <a href="/listings/create" class="nav-list__url">Create a Hunting listing</a>-->
<!--                                </li>-->
<!--                                <li sec:authorize="isAuthenticated()" class="nav-list__item">-->
<!--                                    <a href="/listings/create-fish" class="nav-list__url">Create a Fishing listing</a>-->
<!--                                </li>-->

<!--                                <li sec:authorize="isAuthenticated()" class="nav-list__item">-->
<!--                                    <a href="/bookmarks" class="nav-list__url">Bookmarks</a>-->
<!--                                </li>-->
                                <div class="view-listings">
                                <li class="nav-list__item">
                                    <a href="/listings" class="nav-list__url">View listings</a>
                                </li>
                                <li class="nav-list__item">
                                    <a href="/about" class="nav-list__url">About Us</a>
                                </li>
                                </div>
                                <li sec:authorize="isAuthenticated()" class="nav-list__item">
                                    <form th:action="@{/profile/{id}(id=${#authentication.principal.id})}" th:method="get">
                                        <button class="btn nav-list__url">Profile</button>
                                    </form>
                                </li>
                                <li sec:authorize="isAuthenticated()" class="nav-list__item">
                                    <a href="/listings/create" class="nav-list__url">Create a Hunting listing</a>
                                </li>
                                <li sec:authorize="isAuthenticated()" class="nav-list__item">
                                    <a href="/listings/create-fish" class="nav-list__url">Create a Fishing listing</a>
                                </li>

<!--                                <li sec:authorize="isAuthenticated()" class="nav-list__item">-->
<!--                                    <a href="/bookmarks" class="nav-list__url">Bookmarks</a>-->
<!--                                </li>-->
                            </ul>
                        </div>
                    </nav>
    </div>
</nav>
</body>
</html>