<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<script src="https://kit.fontawesome.com/968ac4e7b1.js" crossorigin="anonymous"></script>



<nav th:fragment="navbar" class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
    <img src="../static/img/OE_transparent.jpg" th:src="@{/img/OE_transparent.jpg}" class="nav-logo" alt="OE Logo"/>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

<!--        <form class="form-inline my-2 my-lg-0">-->
<!--            <a class="navbar-icon" href="https://www.facebook.com/OutfitterExpert-101138728768176/"><i class="fab fa-facebook-square"></i></a>-->
<!--            <a class="navbar-icon" href="https://www.instagram.com/_outfitterexpert_/?igshid=7ltyhidmj6hd"><i class="fab fa-instagram"></i></a>-->
<!--            <a class="navbar-icon" href="https://www.linkedin.com/company/outfitter-expert"><i class="fab fa-linkedin"></i></a>-->
<!--        </form>-->
<!--==========SEARCHBAR============-->
<!--        <form class="d-flex">-->
<!--            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
<!--            <button class="btn btn-outline-success" type="submit">Search</button>-->
<!--        </form>-->




        <div class="container search-box d-flex row">
            <form th:action="@{/search}" method="post" class="form-inline" style="width: 50%; text-align: center;">
                <input class="form-control" name="location" type="text" placeholder="location" aria-label="Search">
                <input class="form-control" name="animals" type="text" placeholder="Animal" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
<!--// location animal -->


        <!--================================SOCIAL MEDIA ICONS==================================-->

        <form class="d-flex row-1 my-2 ">
            <a class="navbar-icon" href="https://www.facebook.com/OutfitterExpert-101138728768176/"><i class="fab fa-facebook-square"></i></a>
            <a class="navbar-icon" href="https://www.instagram.com/_outfitterexpert_/?igshid=7ltyhidmj6hd"><i class="fab fa-instagram"></i></a>
            <a class="navbar-icon" href="https://www.linkedin.com/company/outfitter-expert"><i class="fab fa-linkedin"></i></a>
        </form>




<!--================================PROFILE BUTTON==================================-->
        <div class="pen-wrapper">
            <div class="pen-wrapper__inner">
                <nav class="nav">

                    <input type="checkbox" id="menu-button"  class="menu-button__input" />
                    <label for="menu-button" class="menu-button">
        <span class="menu-button__icon">
          <span class="menu-button__icon-strip"></span>
        </span>
                        </label>

                        <div class="nav__inner">
                            <figure class="nav__avatar">
                                <img src="http://www.foolproof.co.uk/media/466535/Luke-Burroughs.jpg" alt="" />
                            </figure>
                            <ul class="nav-list">
<!--=======================================BUTTONS=======================================-->
                                <li sec:authorize="!isAuthenticated()" class="nav-list__item">
                                    <a class="nav-list__url" th:href="@{/login}">Login</a>
                                </li>
                                <li sec:authorize="!isAuthenticated()" class="nav-list__item">
                                    <a class="nav-list__url" href="/sign-up">
                                        Sign up
                                    </a>
                                </li>
                                <li sec:authorize="isAuthenticated()" class="nav-list__item">

                                    <form th:action="@{/profile/{id}(id=${#authentication.principal.id})}" th:method="get">
                                        <button>Profile</button>
                                    </form>
                                </li>
                                <li sec:authorize="isAuthenticated()" class="nav-list__item">
                                    <a href="/listings/create" class="nav-list__url">
                                        Create a Hunting listing
                                    </a>
                                </li>
                                <li sec:authorize="isAuthenticated()" class="nav-list__item">
                                    <a href="/listings/create-fish" class="nav-list__url">
                                        Create a Fishing listing
                                    </a>
                                </li>
<!--                                <li class="nav-list__item">-->
<!--                                    <a href="#" class="nav-list__url">-->
<!--                                        <svg class="icon nav-list__icon"><use xlink:href="#icon-user"></use></svg>-->
<!--                                    </a>-->
<!--                                </li>-->

                                <li sec:authorize="isAuthenticated()" class="nav-list__item">
                                    <a href="/bookmarks" class="nav-list__url">
                                        Bookmarks
                                    </a>
                                </li>

                                <li class="nav-list__item">
                                    <a href="/listings" class="nav-list__url">
                                        View listings
                                    </a>
                                </li>
                                <li sec:authorize="isAuthenticated()" class="nav-list__item">
                                    <form th:action="@{/logout}" th:method="post">
<!--                                        <button class="btn-link btn1" style="margin-top: 8px">Logout</button>-->
                                        <button class="btn1" style="margin-top: 8px">Logout</button>
                                    </form>
                                </li>
                            </ul>
                        </div>

                    </nav>
                </div>
            </div>
    </div>





</nav>

</body>
</html>