<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" />
    <title>Login</title>
</head>
<body>
<header th:replace="partials/styles :: styles"></header>
<nav th:replace="partials/navbar :: navbar"></nav>
<div class="error" th:if="${param.logout}">
    You have been logged out
</div>
<img class="logo" src="../../static/img/oeLogo.png" th:src="@{img/oeLogo.png}" />
<form class="form-section" th:action="@{/login}" method="post">
    <div class="error" th:if="${param.error}">
        Invalid Username and Password
    </div>
    <label for="username">Username</label>
    <input id="username" name="username" type="text" />
    <label for="password">Password</label>
    <input id="password" name="password" type="password" />
    <br/>
    <input class="custom-button" type="submit" value="Log In" />
    <a class="blue" href="/sign-up">Not a member? Sign up to join OutfitterExpert</a>
</form>
</body>
</html>