<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" />
    <title>Log in</title>
</head>
<body>
<header th:replace="partials/styles :: styles"></header>
<nav th:replace="partials/navbar :: navbar"></nav>



<div class="container2">
<img class="login-logo" src="../../static/img/oeLogo2.jpg" th:src="@{img/oeLogo2.jpg}" />
</div>


<!--<h3 class="login">Please Log in or Sign-up</h3>-->
<div class="container2">
    <div class="row">
        <div class="col-lg-12" width="100%">
            <h3 class="login">Please Log in or Sign-up</h3>
    <form class="form-section" th:action="@{/login}" method="post">
        <div class="error" th:if="${param.error}">
            Invalid Username and Password
        </div>
        <label for="username">Username</label>
        <input id="username" name="username" type="text" />
        <label for="password">Password</label>
        <input id="password" name="password" type="password" />
        <br/>
        <div class="error" th:if="${param.logout}">
            <br>
            You have been logged out
        </div>
        <input class="custom-button" type="submit" value="Log In" />
        <a class="blue" href="/sign-up">Not a member? Sign up to join OutfitterExpert</a>
    </form>

        </div>
    </div>
</div>
<script th:replace="partials/scripts :: scripts"></script>
</body>
</html>