<!DOCTYPE html>
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:c="http://www.w3.org/1999/html">-->
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

</head>
<body>
<header th:replace="partials/styles :: styles"></header>
<nav th:replace="partials/navbar :: navbar"/>
<script th:replace="partials/scripts :: scripts"></script>
<br>


                <div class="container">
                    <div class="row">
                        <div class="col-4" style="padding-left: 15px">
                            <br>
                            <h2 class="d-flex justify-content-center">Profile</h2>
                            <br>
                            <div class="card" style="width: auto; height: auto; padding:15px; margin:15px">
                                <div style="margin-left: 10%;">
                                <img class="user-img" src="../../static/img/user_profile_img.jpg"
                                     th:src="${user.img_user}"/>
                                </div>

                                <p style="margin-top: 5%; margin-left: calc(50% - 75px);" th:if="${user.outfitter == true}">
                                    <img class="outfitter"
                                         src="https://see.fontimg.com/api/renderfont4/lVYZ/eyJyIjoiZnMiLCJoIjoyNzIsInciOjIwMDAsImZzIjoxMzYsImZnYyI6IiMwNjUzNDkiLCJiZ2MiOiIjRkZGRkZGIn0/b3V0Zml0dGVy/impact-label.png"
                                         alt="Label Maker fonts">
                                </p>

                                <p style="margin-top: 5%; margin-left: calc(50% - 75px);" th:if="${user.outfitter == false}">
                                    <img class="outfitter"
                                         src="https://see.fontimg.com/api/renderfont4/lVYZ/eyJyIjoiZnMiLCJoIjoyNzIsInciOjIwMDAsImZzIjoxMzYsImZnYyI6IiMwNjUzNDkiLCJiZ2MiOiIjRkZGRkZGIn0/b3V0ZG9vcnNtYW4/impact-label.png"
                                         alt="Label Maker fonts">
                                </p>
                                <br>


                                <label>Username:</label>
                                <h2 th:text="${user.username}"></h2>
                                <label>Name:</label>
                                <div class="row">
                                    <h3>&nbsp;&nbsp;</h3>
                                    <h3 th:text="${user.firstName}"></h3>
                                    <h3>&nbsp;</h3>
                                    <h3 th:text="${user.lastName}"></h3>
                                </div>
                                <!--            <h3 th:text="${user.lastName}"></h3>-->
                                <!--    how do you do the if else in html with thyme leaf-->
                                <label>User Location:</label>
                                <h3 th:text="${user.user_location}"></h3>
                                <!--                <h3 th:text="${user.user_location}"></h3>-->
                                <label>Bio:</label>
                                <h3 th:text="${user.bio}"></h3>

                            <div th:if="${isUserAccount}">
                                <div class="row d-flex justify-content-around">
                                    <form th:action="@{/profile/edit}" method="GET">
                                        <button class="custom-button-edit profile-b" type="submit">Edit Profile</button>
                                    </form>
                                    <button class="custom-button-del profile-b btn-delete">Delete Profile</button>
                                </div>
                            </div>
                        </div>
                    </div>

<!--LISTINGS -->
                        <div class="col-8">
                            <br>
                            <h2 class="d-flex justify-content-center">My Listings</h2>
                            <br>
                            <div class="row d-flex justify-content-center">
                                <div style="margin-bottom:50px; margin-top:16px; width:max-content; height:43em; overflow-y: scroll; max-width:100%; overflow-x: hidden;">
                                    <div class="d-flex justify-content-center" th:each="listing : ${listings}">
                                        <div class="card"
                                             style="padding-bottom:7px; margin-bottom:10px">
                                            <form th:action="@{/listings/{id}(id = ${listing.id})}" method="GET">
                                                <button type="submit" class="benjamin-button">
                                                    <img class="img-listing-profile" style="border-radius: 20px 20px 0 0" th:src="${listing.imgUrl}"/>
                                                </button>
                                            </form>
                                            <h3 th:text="${listing.title}"></h3>
                                            <h3 th:text="${listing.location}"></h3>
                                            <div th:if="${isUserAccount}">
                                                <!--                <div th:if="${isUserAccount}">-->
                                                <div class="row text-center d-flex justify-content-around" style="margin: 15px">
                                                    <form th:action="@{/listings/{id}/package/create (id = ${listing.id})}"
                                                          method="GET">
                                                        <button class="custom-button profile-b">Create a Package
                                                        </button>
                                                    </form>
                                                    <!--                </div>-->
                                                    <form th:action="@{/listings/{id}/edit(id = ${listing.id})}"
                                                          method="GET">
                                                        <button class="custom-button-edit profile-b" type="submit">Edit
                                                            Listing
                                                        </button>
                                                    </form>
                                                    <form th:action="@{/listings/{id}/delete(id = ${listing.id})}"
                                                          method="post">
                                                        <button class="custom-button-del profile-b">Delete Listing
                                                        </button>
                                                    </form>
                                                    <!--                <form th:action="@{/listings/{id}/edit(id = ${listing.id})}" method="GET">-->
                                                    <!--                    <button class="custom-button profile-b" type="submit">Edit Listing</button>-->
                                                    <!--                </form>-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
<!--BOOKINGS-->
<h2 class="d-flex justify-content-center">My Bookings</h2>

<div class="testimonial-group" style="margin-left: 150px; margin-right: 150px">
    <div class="column">
        <div class="card text-wrap" style="width: 25%; height: auto; margin:15px"
             th:each="booking : ${bookings}">
            <img style="border-radius: 20px 20px 0 0" class="book-img" src="../../static/img/user_profile_img.jpg"
                 th:src="${booking.package.property.imgUrl}"/>
            <div class="card-body" style="width: 100%; padding:15px">
                <label>Package</label>
                <h5 class="card-text" th:text="${booking.package.property.title}"></h5>
                <label>Location:</label>
                <h5 class="card-text" th:text="${booking.package.property.location}"></h5>
                <hr>
                <p>Start Date: <span th:text="${#dates.format(booking.date_start, 'MMM-dd-yyyy')}"/>
                <p>End Date: <span th:text="${#dates.format(booking.date_end, 'MMM-dd-yyyy')}"/>

            </div>
        </div>
    </div>
</div>


<!--                    TESTING MODAL HERE-->
<!-- Delete Profile Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title pull-right" id="myModalLabel">Warning</h3>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>


            </div>
            <div class="modal-body">

                <p class="alert alert-danger pull-right" type="submit">Are you sure you want to delete?</p>


            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Cancel</button>
                <form th:action="@{/profile/{id}/delete(id = ${user.id})}" method="post">
                    <button type="submit" class="btn btn-default" id="btnDelteYes">Yes I'm sure.</button>
                </form>
            </div>
        </div>
    </div>
</div>


<!--        <h3>Bookings:</h3>-->
<!--        <div th:each="booking : ${bookings}">-->
<!--            <h3  th:text="${booking.date_start}"></h3>-->
<!--            <p th:text="${booking.package.property.title}"></p>-->
<!--        </div>-->


<h2 class="d-flex justify-content-center">My Reviews</h2>

<div class="d-flex flex-wrap" style="margin-left: 100px; height:15em; overflow-y: scroll">
    <div class="row text-wrap col-4" th:each="review : ${reviews}">
        <div class="card-body  d-flex align-items-stretch">
            <div class="column">
                <h3 class="card-text" th:text="${review.property.title}"></h3>
                <hr>
                <h4 class="card-title" th:text="${review.title}"></h4>
                <h5 class="card-text" th:text="${review.body}"></h5>


                <div th:if="${isUserAccount}">
                    <div class="row">
                        <form th:action="@{/reviews/{id}/edit(id = ${review.id})}" method="GET">
                            <button class="custom-button-edit profile-b" type="submit">Edit Review</button>
                        </form>

                        <form th:action="@{/reviews/{id}/delete(id = ${review.id})}" method="post">
                            <button class="custom-button-del profile-b">Delete Review</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<script th:replace="partials/scripts :: scripts"></script>

</body>
</html>