<!DOCTYPE html>
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:c="http://www.w3.org/1999/html">-->
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
</head>
<body>
<header th:replace="partials/styles :: styles"></header>
<nav th:replace="partials/navbar :: navbar"/>
<div>

    <div class="row" style="padding-left: 15px">
        <h3 th:text="${user.firstName}"></h3>
        <h3 th:text="${user.lastName}"></h3>
    </div>

<!--    how do you do the if else in html with thyme leaf-->
    <h3 th:text="${user.outfitter}"></h3>
</div>
<div th:each="listing : ${listings}">
    <h3 th:text="${listing.location}"></h3>
    <h3 th:text="${listing.title}"></h3>
    <hr>
</div>
<h1>Bookings:</h1>
<h1>Listings:</h1>
<div th:each="review : ${reviews}">
    <h5  th:text="${review.title}"></h5>
    <p th:text="${review.rating}"></p>
    <p th:text="${review.body}"></p>


    <div th:if="${isUserAccount}">
    <form th:action="@{/reviews/{id}/delete(id = ${review.id})}" method="post">
        <button>Delete Review</button>
    </form>
    <form th:action="@{/reviews/{id}/edit(id = ${review.id})}" method="GET">
        <button type="submit">Edit Review</button>
    </form>
    </div>
</div>
</body>
</html>