<!DOCTYPE html>
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:c="http://www.w3.org/1999/html">-->
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
</head>
<body>
<header th:replace="partials/styles :: styles"></header>
<nav th:replace="partials/navbar :: navbar"/>
<script th:replace="partials/scripts :: scripts"></script>
<div style="padding-left: 15px">
    <br>
    <h2>Profile:</h2>
    <br>
    <div class="row" style="padding-left: 15px">

        <h3 th:text="${user.firstName}"></h3>
        <h3 th:text="${user.lastName}"></h3>
        <div th:if="${isUserAccount}">
            <form th:action="@{/profile/{id}/delete(id = ${user.id})}" method="post">
                <button>Delete Profile</button>
            </form>
            <form th:action="@{/profile/{id}/edit(id = ${user.id})}" method="GET">
                <button type="submit">Edit Profile</button>
            </form>
        </div>
    </div>

<!--    how do you do the if else in html with thyme leaf-->
    <h3 th:text="${user.outfitter}"></h3>



<hr>


<h2>Listings:</h2>
<br>
<div th:each="listing : ${listings}">
    <h3 th:text="${listing.location}"></h3>
    <h3 th:text="${listing.title}"></h3>
    <div th:if="${isUserAccount}">
        <form th:action="@{/listings/{id}/delete(id = ${listing.id})}" method="post">
            <button>Delete Listing</button>
        </form>
        <form th:action="@{/listings/{id}/edit(id = ${listing.id})}" method="GET">
            <button type="submit">Edit Listing</button>
        </form>
    </div>
</div>

<!--<h1>Bookings:</h1>-->
<!--<h1>Listings:</h1>-->
<hr>
<h2>Reviews:</h2>
<br>

<div th:each="review : ${reviews}">
    <h3  th:text="${review.title}"></h3>
    <p th:text="${review.rating}">Rating:</p>
    <p th:text="${review.body}"></p>


    <div th:if="${isUserAccount}">
    <form th:action="@{/reviews/{id}/delete(id = ${review.id})}" method="post">
        <button>Delete Review</button>
    </form>
    <form th:action="@{/reviews/{id}/edit(id = ${review.id})}" method="GET">
        <button type="submit">Edit Review</button>
    </form>

    </div>
</div>
</div>
<script th:replace="partials/scripts :: scripts"></script>
</body>
</html>