<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" />
    <title>Sign up</title>
</head>
<body>
<header th:replace="partials/styles :: styles"></header>
<nav th:replace="partials/navbar :: navbar"/>
<div class="card-body">
    <img class="logo" src="../../static/img/oeLogo.png" th:src="@{img/oeLogo.png}" />
<form action="/profile/create" class="form-section" th:action="@{/sign-up (id=${user.id})}" method="post" th:object="${user}">
    <label for="username">Username</label>
    <input id="username" name="username" type="text" class="validate" th:value="*{username}" th:field="*{username}" />

    <label for="email">Email</label>
    <input id="email" th:value="*{email}" th:field="*{email}" />

    <label for="password">Password</label>
    <input id="password" value="" type="password" th:field="*{password}" />

    <label for="first_name">First Name:</label>
    <input id="first_name" th:value="*{firstName}" type="text" th:field="*{firstName}" />

    <label for="last_name">Last Name:</label>
    <input id="last_name" th:value="*{lastName}" type="text" th:field="*{lastName}" />

    <div class="form-check form-switch">
        <input class="form-check-input" value="" name="outfitter" th:field="*{outfitter}" type="checkbox" id="outfitter" />
        <label class="form-check-label" for="outfitter" >Outfitter?</label>
    </div>

    <div sec:authorize="!isAuthenticated()">
    <input class="custom-button" value="Sign me up!" type="submit" />
    </div>
    <div sec:authorize="isAuthenticated()">
        <input class="custom-button" value="Submit" type="submit" />
    </div>


</form>
</div>
</body>
</html>