<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>About Us</title>
</head>
    <header th:replace="partials/styles :: styles"></header>
    <nav th:replace="partials/navbar :: navbar"/>
<script th:replace="partials/scripts :: scripts"></script>
<body>
<script src="https://kit.fontawesome.com/968ac4e7b1.js" crossorigin="anonymous"></script>
<div class="container">
    <div class="row">
        <img class="logo-about" src="../../static/img/OE_transparent.jpg" th:src="@{img/OE_transparent.jpg}"/>
        <br>

            <div class="col-12">
                <h2 class="meet-creators">Meet the Creators</h2>
                <br>
            </div>

            <br>
            <br>

            <div id="austin" class="col-lg-3 col-md-6 creator-div">
                <a class="creator-link" href="https://www.linkedin.com/in/austin-whitley-01/" target="_blank">
                <img class="creator-img" src="../../static/img/austin.jpg" th:src="@{img/austin-ph-smile.jpg}" />
                </a>
                <h3 class="creators">Austin Whitley</h3>
            </div>
            <div id="naysa" class="col-lg-3 col-md-6 creator-div">
                <a class="creator-link" href="https://www.linkedin.com/in/naysamoreno/" target="_blank">
                <img class="creator-img" src="../../static/img/naysa.jpg" th:src="@{img/naysa.jpg}" />
                </a>
                <h3 class="creators">Naysa Moreno</h3>
            </div>
            <div id="irvin" class="col-lg-3 col-md-6 creator-div">
                <a class="creator-link" href="https://www.linkedin.com/in/irvin-buendia/" target="_blank">
                <img class="creator-img" src="../../static/img/irvin.jpeg" th:src="@{img/irvin.jpeg}" />
                </a>
                <h3 class="creators">Irvin Buendia</h3>
            </div>
            <div id="benny" class="col-lg-3 col-md-6 creator-div">
                <a class="creator-link" href="https://www.linkedin.com/in/bennyalvarez" target="_blank">
                <img class="creator-img" src="../../static/img/benny.jpeg" th:src="@{img/benny.jpeg}" />
                </a>
                <h3 class="creators">Benny Alvarez</h3>
            </div>



    </div>
</div>
</body>
</html>    