<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>OutfitterExpert</title>
</head>
<header th:replace="partials/styles :: styles"></header>
<nav th:replace="partials/navbar :: navbar"/>
<body>
<h1>This is a landing page</h1>

<!--IMAGES SIDE BY SIDE-->
<div class="image-container">
    <div class="card center-vh hover hover-1" style="width: 48%;">
        <img src="img/huntingOutfitter.jpeg" class="card-img-top" alt="Man walking though water carrying ducks"><span class="center-img img-text">Hunting guides</span>
        <div class="hover-overlay"></div>
        <div class="hover-1-content">
            <h5 class="card-title text-light hover-1-description">Hunting sites</h5>
            <p class="card-text text-light hover-1-description">Some other stuff can go here if you want to talk about this selection</p>
        </div>
    </div>

    <div class="card center-vh hover hover-1" style="width: 48%;">
        <img src="img/fishingOutfitter.jpeg" class="card-img-top" alt="man standing in lake fishing"><span class="center-img img-text">Fishing guides</span>
        <div class="hover-overlay"></div>
        <div class="hover-1-content">
            <h5 class="card-title text-light hover-1-description">Fishing sites</h5>
            <p class="card-text text-light hover-1-description">Book a trip with experts, spend time on their land, learn how they hunt.</p>
        </div>
    </div>
</div>

</body>
</html>