<!DOCTYPE html>
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">-->
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>OutfitterExpert</title>
</head>
<header th:replace="partials/styles :: styles">
</header>

<nav th:replace="partials/navbar :: navbar"/>

<body class="bg-index">

<script src="https://kit.fontawesome.com/968ac4e7b1.js" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/968ac4e7b1.js" crossorigin="anonymous"></script>

<div class="jumbotron bg-index px-0 w-100 d-none d-md-block">
    <div class="d-flex row justify-content-center">
                <h2 class="welcome">Welcome To</h2>
    </div>
    <div class="d-flex row justify-content-center">
        <img class="signup-logo" src="../../static/img/oeLogo2.jpg" th:src="@{img/oeLogo2.jpg}" />

    </div>

<!--    <div class="d-flex row justify-content-center index-intro">-->
<!--        <div class="column">-->
<!--&lt;!&ndash;            <h4 class="center-vh">We would like to be your one stop shop in booking your next trip. </h4>&ndash;&gt;-->
<!--&lt;!&ndash;            <h4>Browse through hunting and fishing listings all across the United States and Northern America</h4>&ndash;&gt;-->

<!--            <h4 class="intro-txt"> We are the ultimate one stop shop for booking your hunting and fishing trip needs. <br>-->
<!--            Through this online marketplace, the outdoorsman is connected with either hunting property owners, fishing charters, <br>-->
<!--                and guides available based on location.  Browse through hunting and fishing listings all across the United States and North America.</h4>-->
<!--            <a class="d-flex btn custom-button btn-lg justify-content-center index-btn" href="/about" role="button">About us</a>-->
<!--        </div>-->
<!--    </div>-->

    <div class="image-container">

        <!--    Hunting card-->
        <form th:action="@{/listings/hunting}" method="GET" >
            <input type="hidden" name="type" value="1">
            <button type="submit" class="naysa-button">
                <div class="center-vh">
                    <img src="../static/img/hunters-sunset.jpeg" th:src="@{img/hunters-sunset.jpeg}" class="card-img-top img-index" alt="Man walking though water carrying ducks"/><span class="center-img img-text">Hunting</span>
                </div>
            </button>
        </form>
        <!--    Fishing card-->
        <form th:action="@{/listings/fishing}" method="GET" >
            <input type="hidden" name="type" value="0">
            <button type="submit" class="naysa-button">
                <div class="center-vh">
                    <img src="../../static/img/fishingOutfitter.jpg" th:src="@{img/fishingOutfitter.jpg}" class="card-img-top img-index" alt="man standing in lake fishing"/><span class="center-img img-text">Fishing</span>
                </div>
            </button>
        </form>
    </div>

<!--    <div class="d-flex row justify-content-center">-->
<!--        <div class="column">-->
<!--            <h3 class="center-vh">We are your one stop shop and we are here to help you book your next trip. </h3>-->
<!--            <p>Browse through hunting and fishing listings all across the United States and Northern America</p>-->
<!--            <a class="d-flex btn custom-button btn-lg justify-content-center" href="/about" role="button">About us</a>-->
<!--        </div>-->
<!--    </div>-->
    <div class="d-flex row justify-content-center index-intro">
        <div class="column">
            <!--            <h4 class="center-vh">We would like to be your one stop shop in booking your next trip. </h4>-->
            <!--            <h4>Browse through hunting and fishing listings all across the United States and Northern America</h4>-->

            <h3 class="intro-txt"> We are the ultimate one stop shop for booking your hunting and fishing trip needs.
                Through this online marketplace, the outdoorsman is connected with either hunting property owners, fishing
                charters, and guides available based on location.  Browse through hunting and fishing listings all across
                the United States and North America.</h3>
            <a class="d-flex btn custom-button btn-lg justify-content-center index-btn" href="/about" role="button">About us</a>
        </div>
    </div>

</div>
<!--IMAGES SIDE BY SIDE-->

<!--<div sec:authorize="isAuthenticated()" class="nav-item m-0">-->
<!--    <form th:action="@{/logout}" th:method="post">-->
<!--        <button style="color: #bbbbbb" class="btn-link btn nav-link icon navIconLink">-->
<!--            <i class="fas fa-sign-out-alt"></i>-->
<!--            <span>Logout</span>-->
<!--        </button>-->
<!--    </form>-->
<!--</div>-->

</body>
</html>